<div class="row">
  <div class="col p-4">
    <div class="jumbotron p-2">
      <h1 class="display-4">Onde nos encontrar?</h1>
      <div class="row">
        <div class="col">
          <img
            class="semControle"
            (click)="ir('https://web.whatsapp.com/')"
            src="../../../assets/you.png"
            style="width: 100%; cursor: pointer"
            alt=""
          />
        </div>
        <div class="col">
          <img
            class="semControle"
            (click)="ir('https://web.whatsapp.com/')"
            src="../../../assets/zap.png"
            style="width: 100%; cursor: pointer"
            alt=""
          />
        </div>
        <div class="col">
          <img
            class="semControle"
            (click)="ir('https://web.whatsapp.com/')"
            src="../../../assets/insta.png"
            style="width: 100%; cursor: pointer"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
